<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Spam Classifier</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<h3> Enter your Message </h3>
    	<textarea name="message" rows="6" cols="50" required="required"></textarea>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <button type="submit" class="btn btn-primary btn-block btn-large" value="b2" formaction="{{ url_for('clean')}}">See</button>
    </form>

   <br>
   <br>
    
    {{ cleaned_text }}

 </div>
 
 	<p style="color:blue;font-size:20;text-align: center;"></p>		
	{% if prediction_text == 1%}
	<h2 style="color:red;">Spam</h2>
	{% elif prediction_text == 0%}
	<h2 style="color:gery;">Not a Spam (It is a Ham)</h2>
	{% endif %}


</body>
</html>


